html {
  font-family: Helvetica, Arial, sans-serif;
  }


.list{
  list-style-type:'✅';
  
 
}
  


.img {
  width: 50px;
  float: right;
}

.title {
  font-size: 70px;
  font-weight: bold;
  font-style: italic;
}
h1 {

  text-align: center;
}

hr {
  
  border-top: 5px double rgb(247, 126, 14);
  width: 95%;
}

 
