@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;1,700&display=swap");
* {
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  line-height: 1.5;
  font-size: 16px;
}
body {
  margin: 0;
}

.header {
  background-color: #FFA936;
  display: flex;
  padding: 7px;
}
nav {
  margin-left: auto;
}

.header .links {
  list-style: none;
  align-items: center;
  
}

.header .links li {
  display: inline-block;
  padding: 0 10px;
}

.header .links li:hover {
  transform: scale(1.1);
}

.header .links a {
  color: #fff8dc;
  text-decoration: none;
}
.header .links li a:hover {
  color: #f0f8ff;
}

.list {
  list-style-type: "✅";
}

.title {
  font-size: 50px;
  font-weight: bold;
  font-style: italic;
}
h1 {
  text-align: center;
}

hr {
  border-top: 1px solid #ff8c00;
  width: 70%;
}

aside {
  background-color: #f2f2f2;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 15px;
  margin: 2%;
  width: 60%;
}

#sinopsis {
  font-size: 18px;
  margin: 0 0 10px;
}

small p u em {
  font-style: italic;
  color: #ff8000;
  text-decoration: underline;
}

.footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

.footer-content {
  max-width: 960px;
  margin: 0 auto;
}

.footer p {
  margin: 0;
  font-size: 14px;
}
p {
  margin-left: 15px;
}

h2,
h3,
h4,
h5 {
  margin-left: 15px;
}

.contenedor {
  text-align: center;
  margin-top: 30px;
}

.contenedor img {
  display: block;
  margin: 0 auto;
  height: 100px;
  width: 100px;
  border-radius: 50%;
}
.div1 {
  float: left;
  margin-right: 20px;
  margin-left: 15px;
}
.div1 img {
  height: 330px;
}

table {
  width: 95%;
  border-collapse: collapse;
  border: 1px solid #ff8c00;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

td {
  padding: 15px;
  border: 1px solid #ff8c00;
}

th {
  background-color: #ffa500;
  color: #f0f8ff;
}
#prevencion {
  margin-top: 40px;
}

#importancia {
  margin-top: 40px;
}
#consejos {
  margin-top: 40px;
}

#lesiones {
  margin-top: 40px;
}

#gotop {
  background-color: #FFDB54;
  border: 1px solid #FFD154;
  border-radius: 50%;
  height: 35px;
  width: 35px;
  position: fixed;
  right: 10px;
  bottom: 140px;
  cursor: pointer;
  bottom: -10px;
  transition: botton 0.10s;
}

.imagen{
  height: 30%;
  width: 20%;
  padding-top: 20px;
  padding-bottom: 20px;
  display: block;
  margin: 0 auto;
}


